.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.github-profile {
  position: relative;
  background-color: #ccc;
  border: thin solid #888;
  border-radius: 5px;
  margin: 2rem;
  padding: 2rem;
}
.github-profile .del-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px 4px 0 0;
}

.github-profile img {
  border: thin solid #888;
  width: 75px;
}
.github-profile .info {
  display: inline-block;
  margin-left: 12px;
}
.github-profile .name {
  font-size: 1.25rem;
  font-weight: bold;
}

form {
  border: thin solid #888;
  border-radius: 5px;
  padding: 2rem;
  margin: 0 0.5rem 2rem 0.5rem;
  display: flex;
  justify-content: center;
}
form input {
  outline: none;
  margin-right: 3px;
}

.header {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
